*{
      padding: 0;
      margin: 0;
      font-family: 'Roboto', sans-serif;
    }

    p{
      color:#008eb5;
      font-family: 'Roboto', sans-serif;
    }

    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #00baed;
      overflow-y: hidden; 
      overflow-x: hidden; 
    }

    .main-container{
      display:flex;
      justify-content: center;
      align-items:center;
      /* min-width: 100vw;
      min-height: 100vh; */
      background-color:#00baed;
      /* padding-top: 25px;
      padding-bottom: 25px; */
      overflow:hidden;
      position: relative;
       
    }

    .sub-container{
      overflow-y: auto;
      display:flex;
      justify-content: space-evenly;
      align-items:center;
      padding-right: 30px;
      flex-direction:column;
      background-color:#00baed;
      height: 100vh;
      padding-top: 100px;
      position: relative;
      right: -17px;
      /* overflow-y: scroll; */
    }

/* Glass Container Main */
    .glass-morphism-container-hover-effect{
      background-color: rgba(255, 255, 255,0.1);
      padding: 50px;
      color:#008eb5;
      border-radius: 25px;
      border: solid 2px transparent;
      background-clip: padding-box;
      box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
      backdrop-filter: blur(50px);
      /* overflow:hidden; */
      cursor: pointer;
      position:relative;
    }

/* sytax highlighting */
    pre {
      /* background-color: #3b4252; */
      padding: 15px;
      border-radius: 5px;
      /* overflow: auto; */
    }
    .keyword {
      color: #e0740e; /* Orange */
    }
    .string {
      color: #57b406; /* Green */
    }
    .comment {
      color: #1650c2; /* Blue */
    }
    .class-name {
      color: #ebcb8b; /* Yellow */
    }
    .method-name {
      color: #88c0d0; /* Light Blue */
    }
    .parameter {
      color: #ebcb8b; /* Yellow */
    }

    .name-m3 {
      color:#008eb5;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 500;
      position: relative;
      text-align:center;
      padding-left: 30px;
    }


h1 {
  color: #fff;
}


/* floating glass animation */

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 5, 250, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 80px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


/* end */





/* shaking button */


button {
  animation: wiggle 3s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}


button {
  /* position: absolute; */
  left: calc(50% - 3em);
  top: calc(50% - 2em);
  
  height: 4em;
  width: 7em;
  
  /* background: #444; */
  /* background: linear-gradient(top, #555, #333); */
  border: none;
  /* border-top: 3px solid orange; */
  border-radius: 10%;
  color: #008eb5;
  /* font-family: Helvetica, Arial, Sans-serif; */
  font-size: 0.8em;
  transform-origin: 50% 5em;

  

  background-color: rgba(255, 255, 255, 0.2);
      padding: 10px;
      color:#008eb5;
      border-radius: 25px;
      border: solid 2px transparent;
      background-clip: padding-box;
      box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
      backdrop-filter: blur(30px);
      margin: 20px;
}

/* END */


  pre, code {
            margin-bottom: 1em;
        }






/* Media Queries for Responsiveness */
@media (max-width: 768px) {

  pre, code {
            white-space: pre-wrap; /* Ensures that text wraps */
            word-wrap: break-word; /* Ensures long words break and wrap */
            overflow-wrap: break-word; /* Ensures text wraps to the next line to prevent overflow */
            margin-bottom: 1em;
        }

  .glass-morphism-container-hover-effect {
    font-size: 12px;
    width: 300px;
  }
  .sub-container {
    
    word-wrap: break-word; /* Ensures long words break and wrap */
    word-break: break-all; /* Ensures text breaks within words if necessary */
    overflow-wrap: break-word;
  }
  .name-m3 {
    font-size: 12px;
    padding-left: 30px;
  }

  button {
    height: 3em;
    /* width: 6em; */
    font-size: 0.7em;
  }
}

@media (max-width: 480px) {
  .glass-morphism-container1, .glass-morphism-container2, .glass-morphism-container3 {
    padding: 20px;
  }

  .glass-morphism-container-hover-effect {
    height: 800px;
    width: 200px;
  }

  .name-m3 {
    font-size: 14px;
  }

  .context h1 {
    font-size: 24px;
  }

  button {
    height: 2.5em;
    width: 5em;
    font-size: 0.6em;
  }
  p {
    font-size: 15px;
    align-items: center;
  }
}